extends layout

block content
	h1= title
	p Welcome to #{title}
 
	object(id="world" onload="changeColor()" width="1000" height="600" type="image/svg+xml" data="/images/worldLow_final_named.svg")
	
	script(type="text/javascript")!= "var myData = " + JSON.stringify(data)+"; console.log(myData);"
	
	script.
		var svg;
		function changeColor(){
			svg = d3.select(document.getElementById("world").contentDocument)//.selectAll("path")
			if(svg.empty()) {
				setTimeout(changeColor, 100);
			} else {
				svg.selectAll("path").attr("fill", "red");
				svg.select("#AU").attr("fill", "yellow");
				svg.select('path[title="Afghanistan"]').attr("fill", "#dd1c77");
				
				//d3.select("#AU").attr("fill", "yellow");
				fillColorPopulation()
			}
		}
		changeColor()
		
		function fillColorPopulation(){
			//myDa
			//Traverse the data sent my server in myData
			myData.tbody.tr.forEach(){
			
			}
		}
		
	