extends layout

block content
	h1= title
	p Welcome to #{title}
 
	object(id="world" onload="changeColor()" width="1000" height="600" type="image/svg+xml" data="/images/worldLow_final_named.svg")
	
	script(type="text/javascript")!= "var myData = " + JSON.stringify(data)+"; console.log(myData);"
	
	script.
		var svg;
		function changeColor(){
			svg = d3.select(document.getElementById("world").contentDocument)//.selectAll("path")
			if(svg.empty()) {
				setTimeout(changeColor, 100);
			} else {
				svg.selectAll("path").attr("fill", "red");
				svg.select("#AU").attr("fill", "yellow");
				//d3.select("#AU").attr("fill", "yellow");
				fillColorPopulation()
			}
		}
		changeColor()
		
		function fillColorPopulation(){
			//myDa
		}
		
	//script.
		//$("title:contains('Russian Federation')").css('fill', 'red')
		//d3.select("#sa").attr('fill', 'red');
		//var svg = d3.select("svg")//.append("svg")		
		//svg.selectAll('path').attr('fill', function(d){console.log(d);return 'red'})
			
	//script.
		var svg = d3.xml("/images/worldLow_final_named.svg", function(xml) {
			document.body.appendChild(xml.documentElement);
			
			//d3.selectAll('path').attr('fill', 'red');
			
			//d3.select("svg").select('#AU').attr('fill', 'blue');
			
			//console.log(souSudan)
			var circle = d3.select("svg").append("circle")
				.attr("cx", 100)
				.attr("cy", 100)
				.attr("r", 20)
				.style("fill", "red");
		});
		//$('#AU').css('fill', 'red')
		//svg.attr("width", 1000).attr("height", 600);